//lista de citas medicas del paciente seleccionado (quizas limitar a que solo se vean las citas con el medico logueado o todas si es admin?)
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Citas Medicas
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
         table 
          tr
           th Medico
           th Paciente
           th Fecha 
           th Tipo de Cita
           each cita in citas
            tr
             td #{cita.med.Usuario}
             td #{cita.pac.Nombre}
             td #{cita.Fecha.toDateString()}
             td #{cita.Tipo}
        a.btn.btn-warning(href=`/inPac/${pac.ID}/VistaMedica`) Volver