doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editar
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px;")
         h1 Editar Paciente
         form(action=`/inPac/${pac.IDPaciente}/editar` method="POST" id="formi" style="display: flex; flex-direction: column; gap: 1px;")
           label(for="Nombre") Nombre:
           input(type="text" name="Nombre" value=pac.Nombre required)
           br
           label(for="Edad") Edad:
           input(type="number" name="Edad" value=pac.Edad required)
           br
           label(for="DNI") DNI:
           input(type="number" name="DNI" id="DNI" value=pac.DNI required)
           if pac.DNI === null
             button(type="button" onclick="dehab()") DNI aun desconocido
           br
           label(for="Genero") Genero:
             select(name="Genero" required)
                 option(value="Masculino" selected=(pac.Genero === "Masculino")) Masculino
                 option(value="Femenino" selected=(pac.Genero === "Femenino")) Femenino
                 option(value="Otro" selected=(pac.Genero === "Otro")) Otro
                 if pac.Genero === "Desconocido"
                   option(value="Desconocido" selected) Desconocido
           br
           label(for="Seguro") Seguro Medico:
              select(for="Seguro" name="Seguro" required)
                option(value="Ninguno" selected=(pac.Seguro === "Ninguno")) Ninguno
                option(value="Privado" selected=(pac.Seguro === "Privado")) Privado
                option(value="Publico" selected=(pac.Seguro === "Publico")) Publico
                if pac.Seguro === "Desconocido"
                   option(value="Desconocido" selected) Desconocido
           br
           //label(for="Cita") Cita:  no implementado aun
           //input(type="number" name="Cita" value=pac.Cita)
           //br
           button(type="submit") Guardar cambios
           br
           a(href="/inPac") Cancelar
            script.
                const DNIs = !{JSON.stringify(dnis)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const dniInp = document.getElementById('DNI');
                 if (dniInp.value && DNIs.includes(Number(dniInp.value))) {
                  alert('El DNI ya está registrado.');
                  event.preventDefault();
                 }
                 });
                 function dehab() {
                  const dni = document.getElementById('DNI');
                  if (dni.disabled) {
                    dni.value = '0';
                    dni.disabled = false;
                  } else {
                    dni.value = '';
                    dni.disabled = true;
                  }};