doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editar
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px;")
         h1 Editar Usuario
         form(action=`/Users/${user.IDUser}/Editar` id="formi" method="POST" style="display: flex; flex-direction: column; gap: 1px;")
            label(for="Usuario") Usuario: 
            input(type="text" name="Usuario" id="Usuario" style="width: 100%;" value=user.Usuario required autocomplete="off")
            br
            label(for="Pass") Contraseña: 
            input(type="password" name="Pass" id="Pass" style="width: 100%;" value=user.Pass required autocomplete="off")
            br
            label(for="Rol") Rol de usuario:
            select(name="Rol" id="Rol" required)
             option(value="Admin" selected=(user.Rol==='Admin') ) Admin
             option(value="Doctor" selected=(user.Rol==='Doctor') ) Doctor
             option(value="Enfermero" selected=(user.Rol==='Enfermero') ) Enfermero
             option(value="Recepcionista" selected=(user.Rol==='Recepcionista') ) Recepcionista
            br
            label(for="Especialidad") Especialidad 
             select(name="Especialidad" id="Especialidad" required)
              for spec in specs 
               option(value=spec.IDEspecialidad selected=(spec.IDEspecialidad == user.EspecialidadID)) #{spec.Nombre} 
            br
            button(class="btn btn-primary" type="submit") Guardar cambios
            br
            a.btn.btn-warning(href="/Users") Cancelar
            script.
                //const USERS = !{JSON.stringify(Nusuarios)};
                const rol = document.getElementById('Rol');
                const esp = document.getElementById('Especialidad');
                
                function updateEspecialidadState() {
                  if (rol.value === 'Doctor') {
                    esp.disabled = false;
                  } else {
                    esp.disabled = true;
                    esp.value = 'Ninguna';
                  }
                }
                
                updateEspecialidadState();
                
                rol.addEventListener('change', updateEspecialidadState);
                document.getElementById('formi').addEventListener('submit', function(event) {
                  const userImp = document.getElementById('Usuario');
                  if (userImp.value.length > 20 || userImp.value.length < 6) {
                    alert('El usuario debe tener entre 6 y 20 caracteres');
                    event.preventDefault();
                  }

                  const passImp = document.getElementById('Pass');
                  if (passImp.value.length > 80) {
                    alert('La contraseña no puede tener más de 80 caracteres.');
                    event.preventDefault();
                  }
                  if (passImp.value.length < 6) {
                    alert('La contraseña no puede tener menos de 6 digitos.');
                    event.preventDefault();
                  }
                  if (passImp.value.search(/[0-9]/) == -1 || passImp.value.search(/[a-z]/i) == -1 || passImp.value.search(/[A-Z]/i) == -1 || passImp.value.search(/[^a-zA-Z0-9]/) == -1) {
                    alert('La contraseña debe contener almenos un numero, una Mayuscula, una minuscula y un caracter especial.');
                    event.preventDefault();
                  }
                  /*if (userImp.value && USERS.includes((UserImp.value))) {
                   alert('El nombre de usuario ya esta ocupado.');
                   event.preventDefault();
                  }*/
                });