doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Medicamento
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 95px;")
         h1 Editar Valores del Medicamento
         h2 Alergias: #{pac.Alergias}
         form(action=`/InPac/${pac.IDPaciente}/EditMedicamento/${plan.IDPlan}/${medi.IDMedicamento}` method="POST" id="formi" style="display: flex; flex-direction: column; gap: 1px;" )
          label(for="Nombre") Nombre del Medicamento: 
           input(type="text" name="Nombre" id="Nombre" value=medi.Nombre required)
          br
          label(for="Dosis") Dosis (gr/ml): 
           input(type="double" name="Dosis" id="Dosis" value=medi.Dosis required)
          br
          label(for="Tiempo") Tiempo entre Dosis (hrs): 
           input(type="number" name="Tiempo" id="Tiempo" value=medi.Tiempo required)
          br
          label(for="Cantidad") Cantidad Total de Dosis: 
           input(type="number" name="Cantidad" id="Cantidad" value=medi.Cantidad required)
          br
          button(class="btn btn-primary" type="submit") Guardar
          br
          a.btn.btn-warning(href=`/inPac/${pac.IDPaciente}/Medicamentos/${plan.IDPlan}`) Cancelar
          script.
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const Nom = document.getElementById('Nombre');
                 const Dos = document.getElementById('Dosis');
                 const Tiem = document.getElementById('Tiempo');
                 const Cant = document.getElementById('Cantidad');
                 if (Nom.value.trim().length === 0) {
                   alert('El Nombre no puede estar vacío');
                   event.preventDefault();
                 }
                 if (Nom.value.length > 250) {
                   alert('El Nombre no puede tener más de 250 caracteres');
                   event.preventDefault();
                 }
                 if (Dos.value =< 0) {
                   alert('La Dosis no puede ser 0 o estar vacia');
                   event.preventDefault();
                 }
                 if (Dos.value > 3000) {
                   alert('La Dosis no puede ser mayor a 3000 gr/ml');
                   event.preventDefault();
                 }
                 if (Tiem.value =< 0) {
                   alert('El Tiempo entre Dosis debe ser mayor a 0');
                   event.preventDefault();
                 }
                 if (Cant.value =< 0) {
                   alert('La Cantidad de medicamento no puede ser 0 estar vacío');
                   event.preventDefault();
                 }
                 if (Cant.value > 100) {
                   alert('La Cantidad de medicamento no puede ser mayor a 100');
                   event.preventDefault();
                 }
                 });