doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editar
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px;")
         h1 Editar Habitacion
         form(action=`/Habit/${hab.IDHab}/editar` id="formi" method="POST" style="display: flex; flex-direction: column; gap: 1px;")
           -var camasDeHab = camas.filter(cama => cama.Habitacion === hab.IDHab);
           label(for="Nombre") Nombre/Numero de la Habitacion: 
           input(type="text" name="Nombre" id="Nombre" value=hab.Nombre required)
           br
           label(for="Tipo") Tipo de Habitacion:
           select(name="Tipo" required)
            each tipo in tipos
             option(value=tipo.IDTipo selected=(tipo.IDTipo == hab.TipoID)) #{tipo.Nombre}
           br
           label(for="Ala") Ala de la Habitacion: 
           select(name="Ala" required)
            each ala in alas
             option(value=ala.IDAla selected=(ala.IDAla == hab.AlaID)) #{ala.Nombre}
           br
           label Higenene: 
            each cama in camasDeHab
             div
              span Cama #{cama.IDCamas}: 
              select(name=`Higenizado_${cama.IDCamas}`)
               option(value="true" selected=(cama.Higenizado === true)) Si
               option(value="false" selected=(cama.Higenizado === false)) No
           button(class="btn btn-primary" type="submit") Guardar cambios
           br
           a.btn.btn-warning(href="/Habitaciones") Cancelar
           script.
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const nomImp = document.getElementById('Nombre');
                 if (nomImp.value.length > 100) {
                   alert('El nombre no puede tener más de 100 caracteres.');
                   event.preventDefault();
                 }
                 });