doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Emergencias
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
          h1 EMERGENCIAS 
          h2 Añadir Datos Conocidos del Paciente
          form(action=`/Emergencias` id="formi" method="POST" style="display: flex; flex-direction: column;")
               br
               label(for="Nombre") Nombre:
               input(type="text" name="Nombre" id="Nombre" value="John Doe" required)
               br
               label(for="Edad") Fecha de Nacimiento:
               input(type="date" name="Edad" id="Edad" value="0" required)
               button(type="button" onclick="dehabagain()") Desconocido
               script.
                 function dehabagain() {
                  const edd = document.getElementById('Edad');
                  if (edd.disabled) {
                    edd.value = null;
                    edd.disabled = false;
                  } else {
                    edd.value = null;
                    edd.disabled = true;
                  }}
               br
               label(for="DNI") DNI:
               input(type="number" name="DNI" id="DNI" value="0")
               button(type="button" onclick="dehab()") Sin DNI
               script.
                 function dehab() {
                  const dni = document.getElementById('DNI');
                  if (dni.disabled) {
                    dni.value = '0';
                    dni.disabled = false;
                  } else {
                    dni.value = '';
                    dni.disabled = true;
                  }}
               br
               label(for="Genero") Genero:
                 select(name="Genero" required)
                   option(value="Desconocido") Desconocido
                   option(value="Masculino") Masculino
                   option(value="Femenino") Femenino
                   option(value="Otro") Otro
               br
               label(for="Seguro") Seguro Medico:
                  select(for="Seguro" name="Seguro" required)
                    option(value="Desconocido") Desconocido
                    option(value="Ninguno") Ninguno
                    option(value="Privado") Privado
                    option(value="Publico") Publico
               br
               label(for="Telefono") Numero de Telefono: 
                input(Type="number" name="Telefono" id="Telefono" maxlength="10")
                button(type="button" onclick="dehab1()") Sin Telefono
               script.
                 function dehab1() {
                  const tel = document.getElementById('Telefono');
                  if (tel.disabled) {
                    tel.value = '0';
                    tel.disabled = false;
                  } else {
                    tel.value = '';
                    tel.disabled = true;
                  }}
               br
               label(for="Direccion") Direccion de Domicilio: 
                input(Type="text" name="Direccion" id="Direccion")
                button(type="button" onclick="dehab2()") Sin Direccion conocida
                script.
                  function dehab2() {
                    const dir = document.getElementById('Direccion');
                    if (dir.disabled) {
                      dir.value = 'Desconocida';
                      dir.disabled = false;
                    } else {
                      dir.value = '';
                      dir.disabled = true;
                    }}
               br
               label(for="MadreID") Madre:
                 select(name="MadreID" )
                  option(value=0) Desconocido/Ninguno
                   for paci in pacientes
                    option(value=paci.IDPaciente) #{paci.Nombre}
               br
               label(for="PadreID") Padre:
                 select(name="PadreID" )
                  option(value=0) Desconocido/Ninguno
                   for paci in pacientes 
                    option(value=paci.IDPaciente) #{paci.Nombre}
               br
               label(for="Alergias") Alergias: 
                input(type="text" name="Alergias" id="Alergias")
               br
               button(class="btn btn-primary" type="submit") Guardar y Asignar Cama
               br
               a.btn.btn-warning(href="/inPac") Cancelar
               script.
                const DNIs = !{JSON.stringify(dnis)};
                document.getElementById('formi').addEventListener('submit', function(event) {
                 const dniInp = document.getElementById('DNI');
                 const nomImp = document.getElementById('Nombre');
                 const edImp = document.getElementById('Edad');
                 const Eda = new Date(edImp.value);
                 const hoy = new Date();
                 const dirImp = document.getElementById('Direccion');
                 const telInp = document.getElementById('Telefono');
                 const Aler = document.getElementById('Alergias');
                 if (!dniInp.disabled && dniInp.value && DNIs.includes(Number(dniInp.value))) {
                  alert('El DNI ya está registrado.');
                  event.preventDefault();
                 }
                 if (telInp.value.length > 10 && !telInp.disabled) {
                  alert('El número de teléfono no puede tener más de 10 dígitos.');
                  event.preventDefault();
                 }
                 if (telInp.value.length < 10 && !telInp.disabled) {
                  alert('El número de teléfono debe tener 10 digitos.');
                  event.preventDefault();
                 }
                 if (Eda.getFullYear() < 1900 || Eda > hoy) {
                   alert('El año de nacimiento debe estar entre 1900 y ' + hoy + '.');
                   event.preventDefault();
                 }
                 if(dniInp.value.length === 0 && !dniInp.disabled) {
                  alert('introduzca un DNI o marque "Sin DNI".');
                  dniInp.value = '';
                  dniInp.disabled = true;
                  event.preventDefault();
                 }
                 if (nomImp.value.trim().length < 3) {
                   alert('El nombre debe tener almenos 3 letras');
                   event.preventDefault();
                 }
                 if (nomImp.value.length > 100) {
                   alert('El nombre no puede tener más de 100 caracteres.');
                   event.preventDefault();
                 }
                 if (nomImp.value.search(/\d/) !== -1 || nomImp.value.search(/[^a-zA-Z\s]/) !== -1) {
                   alert('El nombre no puede contener números o simbolos');
                   event.preventDefault();
                 }
                 if (Aler.value.length > 250) {
                   alert('Las Alergias no pueden tener más de 250 caracteres.');
                   event.preventDefault();
                 }
                 if (dirImp.value.length > 250) {
                  alert('La dirección no puede tener más de 250 caracteres.');
                  event.preventDefault();
                 }
                 });