//lista de evaluaciones fisicas del paciente seleccionado
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Evaluacion Fisica
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
         h1 Evaluaciones Fisicas de: #{pac.Nombre}
         table 
          tr
           th Medico
           th Fecha de la Evaluacion
           th Acciones
           each eva in evals
            tr
             td #{eva.med.Usuario}
             td #{eva.Fecha}
             td 
              a.btn.btn-danger(href=`/inPac/${pac.IDPaciente}/EvalFisica/${eva.IDEval}`) Ver Detalles
        br
        a.btn.btn-success(href=`/inPac/${pac.IDPaciente}/AnadirEval`) Añadir Evaluacion
        br
        a.btn.btn-warning(href=`/inPac/${pac.IDPaciente}/VistaMedica`) Volver