doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Habitaciones
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
         div(style="max-width: 1300px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
          table
           tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
              th Numero de Habitacion
              th(style="min-width: 40px;") Ala
              th(style="min-width: 120px;") Tipo de Hab.
              th Cama 1
              th Cama 2
              th(style="min-width: 120px;") Higenizado  
              if activeUser && activeUser.Rol === 'Admin'
               th(style="min-width: 130px;") Camas 
               th Administrar habitacion
              each hab in Habits
                -var camasDeHab = camas.filter(cama => cama.Habitacion === hab.IDHab);
                tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
                  td= hab.IDHab
                  td= hab.Ala
                  td= hab.Tipo
                    each cama in camasDeHab
                      if cama.Paciente 
                        - var pac = pacientes.find(p => p.IDPaciente === cama.Paciente)
                        td #{pac.Nombre} - #{pac.Genero} - ID: #{pac.IDPaciente} - Cama #{cama.IDCamas} - Prioridad #{pac.Prioridad}
                        if camasDeHab.length === 1
                          td Sin Cama 
                      else
                        td(style="color: Green;") Cama #{cama.IDCamas} Libre
                        if camasDeHab.length === 1
                          td Sin Cama                     
                    if camasDeHab.length === 0
                     td Sin Cama 
                     td Sin Cama    
                  td 
                    each cama in camasDeHab
                      if cama.Higenizado
                        span(style="color: green;") #{cama.IDCamas}: Limpia
                        br
                      else
                        span(style="color: red;") #{cama.IDCamas}: No Limpia
                        br
                  if activeUser && activeUser.Rol === 'Admin'      
                   td 
                    each cama in camasDeHab
                      if cama.Paciente === null || cama.Paciente === undefined
                        a(href=`/Cama/${cama.IDCamas}/eliminar`) Eliminar #{cama.IDCamas}
                        br
                      else 
                        -var pac = pacientes.find(p => p.IDPaciente === cama.Paciente);
                        a(href=`/inPac/${pac.IDPaciente}/AltaPac`) Dar de Alta
                        br 
                  if activeUser && activeUser.Rol === 'Admin' 
                   td
                    a(href=`/Habit/${hab.IDHab}/editar`) Editar
                    br
                    -var otrasCamas = camas.filter(c => c.Habitacion === camas.Habitacion && c.IDCama !== camas.IDCama);
                    -var todasLibres = camasDeHab.every(c => c.Paciente === null || c.Paciente === undefined)
                    if todasLibres
                     a(href=`/Habit/${hab.IDHab}/eliminar`) Eliminar     
          br
          if activeUser && (activeUser.Rol === 'Admin')
           div(class="Container-fluid text-center justify-content-center")
            div(class="col btn btn-link")
             a.btn.btn-primary(href=`/Habit/anadir`) Añadir Habitaciones 
            div(class="col btn btn-link")
             a.btn.btn-primary(href=`/Habit/anadirCam`) Añadir Camas