//lista de altas del paciente seleccionado
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Altas
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 80px;")
         h1 Historial de Altas del Paciente: #{pac.Nombre}
         table 
          tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
           th Medico
           th Fecha del Alta
           th Plan de Atencion Posterior
           each alt in alts
            tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
             td #{alt.med.Usuario}
             td #{alt.Fecha}
             td 
              a.btn.btn-info(href=`/inPac/${pac.IDPaciente}/PlanAtencion/${alt.PlanID}`) Ver Plan
        div(class="Container-fluid text-center justify-content-center")      
         div(class="col btn btn-link" style="Padding-bottom: 40px;")
          a.btn.btn-warning(href=`/inPac/${pac.IDPaciente}/VistaMedica`) Volver