doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Datos Medicos
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px;")
         h1 Historial Medico del Paciente: #{pac.Nombre} - DNI: #{pac.DNI}
         form(action=`/inPac/${pac.IDPaciente}/Historial` method="POST" style="display: flex; flex-direction: column; gap: 1px;")
            label(for="Historial") Historial:
            input(type="text" name="Historial" value=pac.Historial style="width: 100%;")
            br
            label(for="Motivo") Motivo de la Internacion: 
             input(type="text" name="Motivo" style="width: 100%;" value=pac.Motivo)
            br
            label(for="Sintoma") Sintomas Medicos: 
             input(type="text" name="Sintoma" style="width: 100%;" value=pac.Sintoma)
            br
            label(for="EvaluacionFisica") Evaluacion Fisica: 
             input(type="text" name="EvaluacionFisica" style="width: 100%;" value=pac.EvaluacionFisica)
            br
            label(for="Prioridad") Prioridad:
             select(name="Prioridad" )
              option(value="Baja" selected=(pac.Prioridad==='Baja')) Baja
              option(value="Media" selected=(pac.Prioridad==='Media')) Media
              option(value="Alta" selected=(pac.Prioridad==='Alta')) Alta
            br
            label(for="PlanAtencion") Plan de Atencion
             input(type="text" name="PlanAtencion" style="width: 100%;" value=pac.PlanAtencion)
            br
            button(class="btn btn-primary" type="submit") Guardar cambios
            br
            a.btn.btn-secondary(href="/inPac") Volver