doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pacientes
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
            table 
             tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
                th IDPaciente
                th Nombre
                th Edad
                th DNI
                th Genero
                th Historial
                th Seguro
                th Cita Medica
                th Acciones
                 each pac in paciente
                     tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
                      td= pac.IDPaciente
                      td= pac.Nombre
                      td= pac.Edad
                      td= pac.DNI
                      td= pac.Genero
                      td= pac.Historial
                      td= pac.Seguro
                      td= pac.Cita
                        td
                          a(href=`/inPac/${pac.IDPaciente}/editar`) Editar
                          br
                          a(href=`/inPac/${pac.IDPaciente}/excluir`) Eliminar
            br
            a(href=`/inPac/anadir`) Añadir