doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pacientes
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1300px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 120px;")
            label(for="paciente") Pacientes
            input(type="text" id="paciente" name="paciente" placeholder="Buscar paciente por datos" oninput="buscarPaciente()")
            script.
                function buscarPaciente() {
                    const input = document.getElementById('paciente');
                    const filter = input.value.toLowerCase();
                    const table = document.querySelector('table');
                    const rows = table.querySelectorAll('tr');
                    rows.forEach((row, idx) => {
                         if (idx === 0) {
                          row.style.display = '';
                          return;
                         }
                         rows.forEach(row => {
                           const cells = row.querySelectorAll('td, th');
                           let found = false;
                           cells.forEach(cell => {
                             if (cell.textContent.toLowerCase().includes(filter)) {
                                 found = true;
                             }
                           });
                             if (found) {
                              row.style.display = '';
                             } else {
                              row.style.display = 'none';
                             }
                       });
                    });
                }
            table 
             tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
                th Nombre
                th(style="max-width: 90px;") año de Nacimiento
                th DNI
                th Genero
                th Datos Medicos
                th Seguro
                th Prioridad
                th Cama asignada 
                th Habitacion
                th Acciones
                 each pac in paciente
                     tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
                      td= pac.Nombre
                      td= pac.Edad
                      td= pac.DNI
                      td(style="min-width: 110px;")= pac.Genero
                      td
                       a(href=`/inPac/${pac.IDPaciente}/Historial`) Historial y Datos de Internacion
                      td= pac.Seguro
                      td 
                        if pac.Prioridad === 'Alta'
                          span(style="color: Red;") Alta
                        else if pac.Prioridad === 'Media'
                          span(style="color: Orange;") Media
                        else if pac.Prioridad === 'Baja'
                          span(style="color: Green;") Baja
                        else 
                          span No Internado
                      td
                        if (pac.cama) 
                          span Cama #{pac.cama.IDCamas}
                        else
                          span(style="color: Blue;") No asignada 
                      td 
                        if (pac.cama)
                          span Habitación #{pac.habitacion.IDHab} - #{pac.habitacion.Tipo}
                        else
                          span(style="color: Blue;") No asignada 
                        td
                          a(href=`/inPac/${pac.IDPaciente}/editar`) Editar
                          br
                          a(href=`/inPac/${pac.IDPaciente}/excluir`) Eliminar
                          br
                          if (!pac.cama)
                            a(href=`/inPac/${pac.IDPaciente}/internar`) Internar
                            br
                          a(href=`/inPac/${pac.IDPaciente}/Alta`) Dar de Alta
            div(class="Container-fluid text-center justify-content-center")
             div(class="col btn btn-link")
              a.btn.btn-primary(href=`/inPac/anadir`) Admitir Paciente