doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Internar Paciente
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 960px; margin: 0 auto; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; padding-top: 40px; padding-bottom: 40px;")
         h1 INTERNACIONES 
         form(action=`/inPac/${pacS.IDPaciente}/internar` method="POST" style="display: flex; flex-direction: column; gap: 1px;")
           label(for="Cama") Cama a asignar:
           select(name="Cama" required)
            each cama in camasDisponibles
             option(value=cama.IDCamas) Cama #{cama.IDCamas} - Habitación #{cama.Habitacion} - Tipo #{cama.habitacion.Tipo}
           br
           label(for="Motivo") Motivo de la Internacion: 
            input(type="text" name="Motivo" style="width: 100%;" required)
           br
           label(for="Sintoma") Sintomas Medicos: 
            input(type="text" name="Sintoma" style="width: 100%;" required)
           br
           label(for="Prioridad") Prioridad:
            select(name="Prioridad" required)
             option(value="Baja" selected=(pacS.Prioridad==='Baja')) Baja
             option(value="Media" selected=(pacS.Prioridad==='Media')) Media
             option(value="Alta" selected=(pacS.Prioridad==='Alta')) Alta
           br
           label(for="PlanAtencion") Plan de Atencion
            input(type="text" name="PlanAtencion" style="width: 100%;" required)
           br
           label(for="EvaluacionFisica") Evaluacion Fisica: 
            input(type="text" name="EvaluacionFisica" style="width: 100%;" required)
           br
           button(class="btn btn-primary" type="submit") Guardar
           br
           a.btn.btn-warning(href="/inPac") Cancelar