//todos los datos de la internacion van aca
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Internaciones
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; border: 5px solid #000000ff; margin: 0 auto; padding-left: 10px; padding-right: 10px; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; margin-top: 80px; background: rgba(255, 255, 255, 1)")
         h1 Detalles de Internacion
         p Medico a cargo: #{med.Usuario}
         p Paciente Internado: #{pac.Nombre}
         p Fecha de ingreso: #{intern.FechaInicio}
         p Fecha de egreso: #{intern.FechaFin}
         p Motivo de internacion: #{intern.Motivo}
         p Sintomas presentados: #{intern.Sintomas}
         P Prioridad de la internacion: #{intern.Prioridad} 
        div(class="Container-fluid text-center justify-content-center")      
         div(class="col btn btn-link" style="Padding-bottom: 40px;")  
          a.btn.btn-info(href=`/inPac/${pac.IDPaciente}/PlanAtencion/${plan.IDPlan}`) Plan de Atencion 
          br
         div(class="col btn btn-link" style="Padding-bottom: 40px;")  
          a.btn.btn-warning(href=`/inPac/${pac.IDPaciente}/InternacionPac`) Volver          