//lista de medicamentos del plan seleccionado
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Medicamentos
    body(style="background: rgb(184, 253, 219);")
        include bar.pug
        +bar()
        block content
        div(style="max-width: 1500px; border: 5px solid #000000ff; margin: 0 auto; padding-left: 10px; padding-right: 10px; display: flex; justify-content: space-between; flex-direction: column; horizontal-align: center; margin-top: 80px; background: rgba(255, 255, 255, 1)")
         h1 Medicamentos Asignados al Plan
         table 
          tr(style="border: 1px solid #ddd; background: rgb(170, 170, 170);")
           th Nombre
           th Dosis (gr/ml)
           th Tiempo entre Dosis (hrs)
           th Cantidad Total de Dosis
           th Acciones
           each medi in medis
            tr(style="border: 1px solid #ddd; background: rgb(255, 255, 255);")
             td #{medi.Nombre}
             td #{medi.Dosis}
             td #{medi.Tiempo}
             td #{medi.Cantidad} 
             td
              a.btn.btn-warning(href=`/inPac/${pac.IDPaciente}/ElimMedicamento/${plan.IDPlan}/${medi.IDMedicamento}`) Eliminar
              a.btn.btn-info(href=`/inPac/${pac.IDPaciente}/EditMedicamento/${plan.IDPlan}/${medi.IDMedicamento}`) Editar
        div(class="Container-fluid text-center justify-content-center")      
         div(class="col btn btn-link" style="Padding-bottom: 40px;")      
          a.btn.btn-success(href=`/inPac/${pac.IDPaciente}/AnadirMedicamento/${plan.IDPlan}`) Prescribir Medicamento
          br 
         div(class="col btn btn-link" style="Padding-bottom: 40px;") 
          a.btn.btn-warning(href=`/inPac/${pac.IDPaciente}/VistaMedica`) Volver